<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/svg" href="../../assets/img/icon_hexagons.png">
		<link rel="stylesheet" type="text/css" href="../styles/select.css">
		<title>Local hex test</title>
	</head>

<body>

	<div class="topnav">
		<a class="nav_item" href="edit.html">Back</a><!--
		--><a class="nav_item" href="game.html" onclick="return prepareCode()">Start Game</a>
	</div>
	<br>
	<div>
		<table id="selection_table">
			<tr>
				<th style="width:50%">Available</th>
				<th style="width:50%">Selected</th>
			</tr>
		</table>
	</div>

	<script type="text/javascript" src="../../algos/MediumBot.js"></script>
	<script type="text/javascript" src="../../algos/AggressiveBot.js"></script>
	<script type="text/javascript" src="../../algos/MakeItSafe.js"></script>
	<script type="text/javascript" src="../../algos/twSupply.js"></script>
	<script type="text/javascript" src="../../algos/twSafer.js"></script>
	<script type="text/javascript" src="../logic/select.js"></script>
    
</body>

</html>

